<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="secondHalf">
        <h1>You're welcome!!!</h1>
      </div>
      <div class="firstHalf">
        <h2>Register here</h2>
        <form method="post">
          <label for="username">Username:</label>
          <input type="text" name="username" required />
          <label for="password">Password:</label>
          <input type="password" name="password" required />
          <button type="submit">Register</button>
        </form>
        <a href="{{url_for('login')}}">Already have an account ? Login </a>
      </div>
    </div>
  </body>
</html>
