body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(109deg, #080709 20.29%, #203b47 96.58%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 1200px;
  height: 85vh;
  padding: 20px;
  background: linear-gradient(
    109deg,
    #06222b 20.29%,
    rgb(19, 18, 52) 96.58%
  );
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #262222;
  font-size: 70px;
  font-family: cursive;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 12px;
  background-color: rgb(21, 40, 56);
  color: #fff;
  font-size: 30px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  width: 400px;
  margin-left: 400px;
  margin-top: 80px;
  height: 70px;
}

a {
  text-align: center;
  display: block;
  /* margin-top: 16px; */
  color: #394350;
  text-decoration: none;
}
